.attribution { 
    font-size: 11px;
     text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@font-face {
    font-family: outfit;
    src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
    font-family:youngserif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: outfit;
    background-color:hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    font-size:16px;
}
.container{
    background-color: white;
    padding:2rem;
    margin:5% 25%;
    border-radius:10px;
    max-width:50%;
}
.Preparation-container{
    background-color: hsl(330, 100%, 98%);
    padding:0.8rem;
    border-radius:5px;
    margin-top:1rem;
}
div img{
    border-radius:10px;
    max-width:100%;
}
.main-heading{
    color:black;
    margin:1rem 0;
    font-family:youngserif;
}
div h2{   
    color:hsl(14, 45%, 36%);
    font-family: youngserif;
    margin:1rem 0;
}
div h1:first-child{
    font-family: youngserif;
    margin:1rem 0;
    color:hsl(14, 45%, 36%);
}
div h3{
    color:hsl(332, 51%, 32%);
    font-weight: bold;
    margin-top:1rem;
}
ul,ol{
    padding-left:30px;
}
div hr{
    color:rgb(209, 209, 209);
    height:1px;
    margin:1rem 0;
}
div ul li{
    padding:7px 0;
}
div ol li{
    padding:7px 0;
}

.nutrition li {
    list-style-type:none;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    border-bottom: 1px solid rgb(209, 209, 209);
    margin-top:1rem;
}
.nutrition li:last-child{
    border-bottom: none;
}
div ul li span{
    font-weight: bold;
}
